asgiref==3.5.0
autopep8==1.5.7
beautifulsoup4==4.8.2
command-not-found==0.3
Django==4.0.1
html5lib==1.0.1
idna==2.8
lxml==4.5.0
numpy==1.17.4
pandas==0.25.3
Pillow==7.0.0
pytz==2019.3
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.4.2
timezonefinder==5.2.0
urllib3==1.25.8
