{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<section class="profile-section">
  <div class="profile-page">
    <div class="row">
      <div class="col-md-8">
        <div class="profile-pic">
          <img src="{{ user.profile.image.url }}" alt="" align="left">
          <h3 class="name d-inline mt-auto">{{ user.username|capfirst }}</h3>
        </div>
        <br>
        <div class="profile-form mb-5">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ p_form.as_p }}
            {{ p_form.user }}

            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </form>
        </div>

        <h2 class="mb-3">Your Blogs:</h2>
        {% for post in posts %}
        <article class="media content-seciton mb-3">
          <div class="media-body">
            <div class="thumbnail_image">
              <img src="{{ post.thumbnail_image.url }}" alt="" align="left">
            </div>
            <div class="">
              <h2 class="article-title">
                <a href="{% url 'post-detail' post.id %}">
                  {{ post.title }}
                </a>
              </h2>
              <div class="article-metadata">
                <small class="text-muted">Last updated {{ post.date_posted }}</small>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}



      </div>
      <div class="col-md-4">
        {% include "blog/sidebar.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}