{% extends 'base.html' %}
{% block content %}
<div class="single-post form-div">

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-3">
        Join Today!
      </legend>
      <!-- {{ form.as_p }} -->
      {% for field in form.visible_fields %}
        <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
        </div>
      {% endfor %}
      <div class="form-group">
        <button type="submit" class="btn btn-info">Register</button>
      </div>
    </fieldset>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already have an account? <a href="" class="ml-3">Sign In</a>
    </small>
  </div>
</div>
  
{% endblock content %}
  