@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


body{
  font-family: 'source sans pro', sans-serif;
}

/* Navbar Section */
.navbar {
  background-color: rgb(50, 85, 102);
  margin-bottom: 20px;
}
.navbar .nav-link, .navbar .navbar-brand{
  color: #fff;
}
.navbar-nav{
  text-align: center;
}
.navbar-brand .brand-logo{
  font-family: 'Quintessential', cursive;
  font-size: 2.3rem;
  line-height: 46px;
  font-weight: 600;
  letter-spacing: 0.065em;
}
.nav-image{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

}


/* Side-bar Section */

.side-bar {
  background-color: white;
  padding: 45px;
  border-radius: 3px;
  margin: 0 21px;
}

.newsletter{
  border : 1px solid #DDDDDD;
  padding: 10px 15px;
  margin-top: 15px;
  width: 100%;
}

.newsletter-submit{
  padding: 10px 15px;
  margin-top: 15px;
  width: 100%;
}



/* Log In page */
.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  border-radius: 10px;
  padding: 40px;
  box-shadow: 10px 1px 15px rgb(231, 231, 231);
  background-color: #fff;
}


.logout-page{
  text-align: center;
}

/* Main-body Section */
body{
  background-color: rgb(246, 246, 246);
}

/* Home Page Post Section */


.card{
  margin: 0 10px 30px 10px; 
  height: 390px;

}

div.col-md-4.card{
  height: 390px;
 }

 
.card-img{
  max-height: 50px;
}

.single-post{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  min-height: 90vh;
}
.article-image{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}


.navbar-toggler:focus{
  outline: 2px dashed #9bddba;
}

/* Registration Page */
/* .form-div{ 
  max-width: 40%;
}  */


/* Post Form Page */
.post-form{
  background-color: white;
  min-height: 80vh;
  padding: 3rem;
  margin: 0.5rem 0 2rem 0;
  border-radius: 0.8rem;
}

.post-form-title{
  font-size: 2rem;
  font-weight: 600;
  font-family: Merriweather;
}

.content-input{
  overflow: hidden;
}

#id_title{
  width: 100%;
}

.submit-button input{
  padding: 8px 40px;
}


/* Profile Page */

.profile-section{
  min-height: 90vh;
}

/* Footer Section */

.footer .footer-div{
  text-align: center;
  background-color: currentColor;
}

.footer .footer-text {
  color: white;
  font-size: 21px;
  font-weight: 500;
}
.footer .icons {
  font-size: 31px;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}
.footer .icons a{  
  color: aqua;
}
 