@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* Navbar Section */
.navbar {
  background-color: rgb(50, 85, 102);
  margin-bottom: 10px;
}
.navbar .nav-link, .navbar .navbar-brand{
  color: #fff;
}
.navbar-nav{
  text-align: center;
}

/* Main-body Section */
body{
  background-color: rgb(246, 246, 246);
}

/* Post Section */
.single-post{
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
}

/* Side-bar Section */
.side-bar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.navbar-toggler:focus{
  outline: 2px dashed #9bddba;
}

/* Registration Page */
/* .form-div{ 
  max-width: 40%;
}  */