<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Django Blog App</title>
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top custom-nav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><span class="brand-logo">BlogLog</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fas fa-stream" style="color: rgb(0, 0, 0); font-size: 28px"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'post-create' %}" class="nav-link">New Post</a>
          </li>
          <li class="nav-item">
            <div class="dropdown ml-3">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="nav-image" src="{{ user.profile.image.url }}" alt="">
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}" class="nav-link">Log Out</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'profile' user.id %}" class="nav-link">Profile</a>
                </li>
              </ul>
            </div>
          </li>

          {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">Log In</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    
  </nav>
  <div class="container main-body">
    
    {% block content %} {% endblock content %}

  </div>
  <section class="footer">
    <div class="footer-div pt-3 pb-3">
      <div class="icons">
        <a href="https://github.com/al-jaber-nishad" target="blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/al-jaber-nishad/" target="blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <div class="footer-text">
        All rights reserved &copy; Al Jaber Nishad 
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
</body>

</html>