{% extends 'blog/base.html' %} {% block content %}
<div class="detail-post mt-3">
  <div class="row">
    <div class="col-md-8">
      <article class="media content-seciton single-post">
        <img class="rounded-circle article-image" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
          <div class="article-metadata">
            <a href="" class="mr-2">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
          </div>
          {% if post.author.id == user.id %}
          <div>
            <a class="btn btn-outline-danger mt-1 mb-3" href="{% url 'post-delete' object.id %}">Delete</a>
            <a class="btn btn-outline-secondary mt-1 mb-3" href="{% url 'post-update' object.id %}">Update</a>
          </div>
          {% endif %}
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ post.content|safe }}</p>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      {% include "blog/sidebar.html" %}
    </div>
  </div>
</div>
{% endblock content %}