{% extends 'blog/base.html' %} {% block content %}
<div class="detail-post mt-3">
  <div class="row">
    <div class="col-md-8">
      <article class="content-seciton single-post">
        <div class="media-body overflow-scroll">
          <span class="article-title">{{ object.title }}</span>

          <div class="article-metadata">
            <small class="text-muted">Last updated {{ object.date_posted }} by <a href="{% url 'author' post.author.id %}" class="mr-2">{{ object.author }}</a></small>
            {% if post.author.id == user.id %}
              <div>
                <a class="btn btn-outline-danger mt-1 mb-3" href="{% url 'post-delete' object.id %}">Delete</a>
                <a class="btn btn-outline-secondary mt-1 mb-3" href="{% url 'post-update' object.id %}">Update</a>
              </div>
            {% endif %}
          </div>
          
          <p class="article-content">{{ post.content|safe }}</p>
        </div>
      </article>

      
      <div class="article-footer">
        <img class="rounded-circle article-image" src="{{ object.author.profile.image.url }}" alt="" align="left">
        <div class="author-name">
          <h5>
            <a href="{% url 'author' post.author.id %}">{{ object.author|capfirst }}
            </a>
          </h5>
        </div>
        <div class="author-detail">
          {{ object.author.profile.bio }}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      {% include "blog/sidebar.html" %}
    </div>
  </div>
</div>
{% endblock content %}