{% extends 'blog/base.html' %} {% block content %}
<div class="home-content">
  <div class="row">
    <div class="col-md-8">
      <article class="media content-seciton single-post">
        <img class="rounded-circle article-image" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
          <div class="article-metadata">
            <a href="" class="mr-2">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          </div>
          <div>
            <a class="btn btn-outline-danger mt-1 mb-3" href="{% url 'post-delete' object.id %}">Delete</a>
            <a class="btn btn-outline-secondary mt-1 mb-3" href="{% url 'post-update' object.id %}">Update</a>
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <div class="side-bar">
        <h4>Our Sidebar</h4>
        <p>You can put any information you'd like.</p>
        <ul>
          <li>Latest Posts</li>
          <li>Announcments</li>
          <li>Calendar</li>
          <li>etc</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}