


<div class="side-bar">
  <div class="side-bar-up">
    <h6>Weekly Newsletter</h6>
    <p>Join our Newsletter group to get informed of hot blogs each week to become a better knowing tech enthusiast.</p>
    <input class="input-box" type="text" placeholder="Name" name="" id="">
    <input class="input-box" type="email" placeholder="Email Address" name="" id=""><br>
    <input class="submit-button" type="submit" value="Yes! I'm in.!">
    
  </div>
  <div class="side-bar-down">
    <h6>Not finding what you're looking for?</h6>
    <input class="input-box" type="text" placeholder="Search the website here!">
    <input type="submit" class="submit-button">
  </div>
</div>